.DS_StoreZone.Identifier
.vscode
documentation.html
documentation.htmlZone.Identifier
node_modules
package-lock.json
package-lock.jsonZone.Identifier
package.jsonZone.Identifier
README.mdZone.Identifier

*.Identifier
build
.vercel
.npmrc
tools/fix_npm_path.sh
api/test.js
api/test.png
api/test.wav
api/wav2lip.js
.env